<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="D:/self-serve-be-logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
             <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/application-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="UserEventFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>{"debugtimestamp":%date{yyyy-MM-dd HH:mm:ss.SSS,GMT},"debug_level":%-5p,"debug_request_id":%X{RequestID},"debug_sessionid":%X{SessionID},"debug_userid":%X{UserID},"debug_class":%c,"debug_message":%m}%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/usagemetrics-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>





    <appender name="AuditFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
         <Pattern>{type:"user_action_audit","timestamp":%d{yyyy-MM-dd HH:mm:ss.SSS,GMT},"tool":"css","user":%X{UserID}, "clientid":%X{ClientID},"accountid":%X{AccountID}, "payload":%m}%n</Pattern>

        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/userauditlog-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at ERROR level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="userevent-log" level="INFO">
        <appender-ref ref="UserEventFile" />
    </logger>

    <logger name="useraudit-log" level="INFO">
        <appender-ref ref="AuditFile" />
    </logger>



</configuration>